.App{
  /* display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh; */
  /* background-color: rgb(90, 90, 90); */
}

.navbar{
  width: 100%;
  height: 6%;
  background-color: rgb(42, 42, 42);
}

.filter{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 6%;
  background-color: rgb(209, 209, 209);
}

.main-section{
  /* display: flex;
  flex-direction: row; */
  width: 100%;
  height: 88%;
  /* background-color: greenyellow; */
}

.filters-section{
  width: 10%;
  height: 100%;
  padding: 2rem 1rem;
  border: 1px solid #878787;
  /* background-color: bisque; */
}

.products-section{
   width: 90%;
  /*height: 100%; */
  /* background-color: rgb(255, 172, 71); */
}

.clamp-3{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.size-pill{
  display: flex;
  width: 4.2rem;
  height: 3.5rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(154, 154, 155);
  color: white;
  border-radius: 100vmax;
}